body {
  margin: 30px;
}

body * {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 60px 40px;
}
@media screen and (max-width: 415px) {
  .header {
    margin: 60px 0;
  }
}
@media screen and (max-width: 336px) {
  .header {
    margin: 60px 0;
  }
}

.header_logo {
  width: 60px;
  align-items: center;
  justify-content: center;
}

.header_title {
  display: flex;
  color: #d04f4f;
  margin: 10px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
@media screen and (max-width: 336px) {
  .header_title {
    display: flex;
    color: #d04f4f;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}

/* section SEARCH */

.numberOfRecipe {
  margin: 0 auto;
  width: 80%;
}

.nb-result {
  font-weight: 700;
}

.search {
  display: flex;
  flex-direction: column;
}

.firstForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: #e7e7e7;
  border: transparent;
  width: 80%;
  height: 70px;
  border-radius: 4px;
  padding: 30px;
}

.search-icon {
  position: absolute;
  right: 10rem;
  top: 1.3rem;
  font-size: 27px;
  opacity: 0.8;
}

@media screen and (max-width: 957px) {
  .searchInput {
    width: 100%;
  }
  .search-icon {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    font-size: 27px;
    opacity: 0.8;
  }
}
@media screen and (max-width: 530px) {
  .search-icon {
    display: none;
  }
}
