.select-area {
  position: relative;
  height: 150px;
}

.recipeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 100px 0 100px;
  column-gap: 15px;
  row-gap: 25px;
}
@media screen and (max-width: 960px) {
  .recipeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 100px 0 100px;
    column-gap: 40px;
    row-gap: 25px;
    margin: 30px 0;
  }
}

@media screen and (max-width: 525px) {
  .recipeContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    column-gap: 40px;
    row-gap: 25px;
    margin-bottom: 30px;
  }
}

.recipe {
  height: 300px;
  border: 1px solid black;
  margin: 0;
}

.recipe__imgContainer {
  height: 55%;
}

.recipe__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.description {
  height: 45%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding: 10px;
  background: #e7e7e7;
  line-height: 0.9rem;
}

.description__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}

.description__element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  overflow: hidden;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.preparation {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
